<h1>Welcome to your new <em>Task Manager</em></h1>

<% @tasks.each do |task| %>
<p> <%= task.name %> </p>
<p> <%= task.done %> </p>
<%= link_to 'see task', task_path(task) %>
<% end %>
<%= link_to 'create a new task', new_task_path %>
